node_modules
build

dropins/opt/container/etc/proxy-version
dropins/opt/container/etc/proxy-branch
dropins/opt/container/services/*/supervise

/tsconfig.json

# used by docker run, i think?
runtimedata
# used when running from source tree
/localdata
